/* Write your CSS here */
.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  border: 1px solid #cbd5e1;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px 0px 0px 0px;
}

@media screen and (min-width: 768px) {
  .list-item {
    padding-left: 24px;
    padding-right: 24px;
    list-style-type: none;
  }
}

.item {
  color: #475569;
  font-family: 'Roboto';
  font-size: 12px;
  width: 30%;
}

@media screen and (min-width: 768px) {
  .item {
    font-size: 14px;
  }
}

.delete-container {
  display: flex;
  width: 10%;
}

.button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.delete-img {
  background: transparent;
  width: 20px;
  height: 20px;
  align-self: center;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .delete-img {
    margin-right: 24px;
  }
}
